<%- include('partials/header'); -%>

  <div class="container center">
    <div class="row">
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/page-found-concept-illustration_114360-1869.jpg" alt="Error 404" />
      </div>
    </div>
  </div>
    
<%- include('partials/footer'); -%>
	